<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data">
      <td scope="row"> {{record.id}} </td>
      <td (click)="updateForm(record)"> {{record.name}} </td>
      <td>{{record.email}}</td>
      <td> <button  (click)="delete(record.id)" class="btn text-light bg-danger">X</button> </td>
    </tr>
  </tbody>
</table>